<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/head"></th:block>
<body style="background-image: url('https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-greek-dishes-set-greek-food-background-traditional-different-greek-dishes-set-top-view-178761927.jpg');
            background-repeat:no-repeat;
            background-size:100% 100vh;">
<th:block th:include="fragments/navbar"></th:block>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-4">All Dishes: </h4>
                <div class="row justify-content-center">
                    <a th:href="@{/dishes/create}" class="btn btn-info">Create new dish</a>
                </div>
                <div class="table-wrap">
                    <table class="table p-3 mb-2 bg-light text-dark rounded">
                        <thead class="thead-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Url</th>
                            <th>Button</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dish : ${dishes}" th:object="${dish}">
                            <th th:text="*{id}"></th>
                            <th th:text="*{name}"></th>
                            <th th:text="*{description}"></th>
                            <th th:text="*{url}"></th>
                            <td><a th:href="@{/dishes/edit/{id}(id=${dish.id})}" class="btn btn-warning">Edit</a></td>
                            <td><a th:href="@{/dishes/delete/{id}(id=${dish.id})}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>